<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <stock_data_updater>
            <general>
                <module_status>1</module_status>
                <schedule>*/10 * * * *</schedule>
            </general>
        </stock_data_updater>
    </default>
</config>
